@font-face {
    font-family: "Roboto";
    src: url("../../Assets/Fonts/Roboto/Roboto-Black.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-BlackItalic.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-Bold.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-BoldItalic.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-Italic.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-Light.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-LightItalic.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-Medium.ttf");    
    src: url("../../Assets/Fonts/Roboto/Roboto-MediumItalic.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-Regular.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-Thin.ttf");
    src: url("../../Assets/Fonts/Roboto/Roboto-ThinItalic.ttf");
    font-style: normal;
    font-size: 700;
}

.homepage{
    position: relative;
    width: 100%;
    height: 100%;
    &__header{
        font-size: 1rem;
        color: white;
        font-family: "Roboto";
        font-weight: bold;
        font-style: normal;
        text-align: center;
        text-shadow: -3px 4px 5px rgba(150, 150, 150, 1);
        line-height: 10rem;

    }
}



// MEDIQ QUERIES

